<% @page_title = "Messages: Inbox" %>
<% @layout = "with_sidebar_left" %>

<% content_for :page_options do %>
  <%= link_to image_tag("icons/mail--plus.png", :alt => "Compose a Message") + "Compose a Message", "#", :title => "Compose a Message", :class => "add button show_modal" %>
<% end %>

<div id="messages" class="panel with_footer">
  <div class="options">
    <%= link_to "Archive", "", :title => "Archive" %>
    <%= link_to "Delete", "",  :title => "Delete" %>
  </div>
  <div class="content no_padding">
    <table>
      <thead>
        <tr>
          <th class="select"><input type="checkbox"></th>
          <th class="from">From</th>
          <th class="subject">Subject</th>
          <th class="status">Status</th>
          <th class="date">Date</th>
        </tr>
      </thead>
      <tbody>
        <% 3.times do %>
          <tr>
            <td><input type="checkbox"></td>
            <td><%= link_to "[user_name]", "", :title => "[user_name]" %></td>
            <td class="subject"><%= link_to "[subject]", "", :title => "[subject]" %></td>
            <td>[status]</td>
            <td>[date]</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="footer">
    asdf
  </div>
</div>

<% content_for :sidebar_left do %>
  <div class="panel">
    <div class="content">
      <p>asdf</p>
    </div>
  </div>
<% end %>