<% @title = "Log In" %>

<div id="main">
  <% form_tag session_path do -%>
    <p>
      <%= label_tag 'login' %>
      <%= text_field_tag 'login', @login %>
    </p>
    <p>
      <%= label_tag 'password' %>
      <%= password_field_tag 'password', nil %>
    </p>
    <p class="indent">
      <%= check_box_tag 'remember_me', '1', @remember_me %>
      <%= label_tag 'remember_me', 'Remember me' %>
    </p>
    <p class="indent submit">
      <%= submit_tag 'Log in' %>
    </p>
  <% end -%>
</div>