<% content_for :head do %>
  <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true_or_false&amp;key=ABQIAAAAQEr9TuV_HM_RESkrFixrbBQ2zmKkM91hfvLpqxmsruD80EpYvxRJ04C0a46ORhfmQMz7blpad7gahA" type="text/javascript"></script>
  <script type="text/javascript">
    function initialize() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 13);

        // Add 10 markers to the map at random locations
        var bounds = map.getBounds();
        var southWest = bounds.getSouthWest();
        var northEast = bounds.getNorthEast();
        var lngSpan = northEast.lng() - southWest.lng();
        var latSpan = northEast.lat() - southWest.lat();
        // for (var i = 0; i < 10; i++) {
        //   var point = new GLatLng(southWest.lat() + latSpan * Math.random(),
        //                           southWest.lng() + lngSpan * Math.random());
        //   map.addOverlay(new GMarker(point));
        // }
      }
    }
  </script>
<% end %>

<% content_for :body_tag do %>
  onload="initialize()" onunload="GUnload()"
<% end %>

<div id="pitch" class="clearfix">
  <div id="pitch_container">
    <div class="text">
      <h2>Carpooling for daily life</h2>
      <h3>John and jane live and work in the same neighbourhood and have similar schedules. Shouldn&#39;t they be carpooling?</h3>
    </div>
    <div class="try">
      <div class="leader">
        <h2><strong>Try it out!</strong> Could you be carpooling tomorrow?</h2>
      </div>
      <b class="tail"><!----></b>
      <form>
        asdf
      </form>
    </div>
  </div>
  <div id="map"></div>
</div>

<div id="features">
  <ul>
    <li>
      <%= image_tag "", :alt => "" %>
      <h2>Everyday Carpooling</h2>
      <p><%= link_to "Aliquet posuere nisl", "", :title => "Aliquet posuere nisl" %>. Maecenas eros dolor, tempor vitae dignissim ac, iaculis eget arcu.</p>
    </li>
    <li>
      <%= image_tag "", :alt => "" %>
      <h2>Smart Matching</h2>
      <p><%= link_to "Aliquet posuere nisl", "", :title => "Aliquet posuere nisl" %>. Maecenas eros dolor, tempor vitae dignissim ac, iaculis eget arcu.</p>
    </li>
    <li>
      <%= image_tag "", :alt => "" %>
      <h2>Savings Everywhere</h2>
      <p><%= link_to "Aliquet posuere nisl", "", :title => "Aliquet posuere nisl" %>. Maecenas eros dolor, tempor vitae dignissim ac, iaculis eget arcu.</p>
    </li>
  </ul>
</div>