<div id="pitch" class="clearfix">
  <div class="text">
    <h2>Carpooling for daily life</h2>
    <h3>John and jane live and work in the same neighbourhood and have similar schedules. Shouldn&#39;t they be carpooling?</h3>
  </div>
  <div class="image">
    [image]
  </div>
</div>

<div id="features">
  <ul>
    <li>
      <%= image_tag "", :alt => "" %>
      <h2>Feature 1</h2>
      <p><%= link_to "Aliquet posuere nisl", "", :title => "Aliquet posuere nisl" %>. Maecenas eros dolor, tempor vitae dignissim ac, iaculis eget arcu.</p>
    </li>
    <li>
      <%= image_tag "", :alt => "" %>
      <h2>Feature 1</h2>
      <p><%= link_to "Aliquet posuere nisl", "", :title => "Aliquet posuere nisl" %>. Maecenas eros dolor, tempor vitae dignissim ac, iaculis eget arcu.</p>
    </li>
    <li>
      <%= image_tag "", :alt => "" %>
      <h2>Feature 1</h2>
      <p><%= link_to "Aliquet posuere nisl", "", :title => "Aliquet posuere nisl" %>. Maecenas eros dolor, tempor vitae dignissim ac, iaculis eget arcu.</p>
    </li>
  </ul>
</div>