<% content_for :above_main do %>
  <div id="commutes_nav" class="panel">
    <%= render :partial => "options" %>
    <ul class="view_month daynames clearfix">
      <li><label>Sunday</label></li>
      <li><label>Monday</label></li>
      <li><label>Tuesday</label></li>
      <li><label>Wednesday</label></li>
      <li><label>Thursday</label></li>
      <li><label>Friday</label></li>
      <li><label>Saturday</label></li>
    </ul>
    <%= render :partial => "month_row" %>
    <%= render :partial => "month_row" %>
    <%= render :partial => "month_row" %>
    <%= render :partial => "month_row" %>
    <%= render :partial => "month_row" %>
  </div>
<% end %>