<% render :partial => "shared/init_map" %>

<% @page_title = "My Commutes" %>

<% content_for :page_options do %>
  <%= link_to image_tag("icons/plus-circle.png", :alt => "Add a commute") + "Add a commute", "#", :title => "Add a commute", :class => "add button show_modal" %>
<% end %>

<ul class="week clearfix">
  <li>
    <%= link_to "Sun" + content_tag(:small, "Nov 8"), "", :title => "Sunday, November 8, 2009" %>
    <b class="pointer"><!----></b>
  </li>
  <li>
    <%= link_to "Mon" + content_tag(:small, "Nov 9"), "", :title => "Monday, November 9, 2009" %>
    <b class="pointer"><!----></b>
  </li>
  <li class="active">
    <%= link_to "Tue" + content_tag(:small, "Nov 10"), "", :title => "Tuesday, November 10, 2009" %>
    <b class="pointer"><!----></b>
  </li>
  <li>
    <%= link_to "Wed" + content_tag(:small, "Nov 11"), "", :title => "Wednesday, November 11, 2009" %>
    <b class="pointer"><!----></b>
  </li>
  <li>
    <%= link_to "Thu" + content_tag(:small, "Nov 12"), "", :title => "Thursday, November 12, 2009" %>
    <b class="pointer"><!----></b>
  </li>
  <li>
    <%= link_to "Fri" + content_tag(:small, "Nov 13"), "", :title => "Friday, November 13, 2009" %>
    <b class="pointer"><!----></b>
  </li>
  <li>
    <%= link_to "Sat" + content_tag(:small, "Nov 14"), "", :title => "Saturday, November 14, 2009" %>
    <b class="pointer"><!----></b>
  </li>
</ul>
<div id="map"></div>