<% @page_title = "Feature Tour" %>
<% @layout = "with_sidebar_left" %>

<% content_for :sidebar_left do %>
  <%= render :partial => "nav" %>
<% end %>

<p class="breadcrumbs">
  <%= link_to "Features", features_path, :title => "Feature Tour" %> /
  Savings Everywhere
</p>
<h3>Save the planet and your wallet.</h3>
<p class="leader">
  It&#39;s easy and rewarding to do your part.<br/>
  Everybody wins!
</p>
<ul class="features">
  <li>
    <%= image_tag "asdf", :alt => "asdf" %>
    <h4>Reliable</h4>
    <p>asdf</p>
  </li>
  <li>
    <%= image_tag "asdf", :alt => "asdf" %>
    <h4>Secure</h4>
    <p>asdf</p>
  </li>
  <li>
    <%= image_tag "asdf", :alt => "asdf" %>
    <h4>Flexible</h4>
    <p>asdf</p>
  </li>
  <li>
    <%= image_tag "asdf", :alt => "asdf" %>
    <h4>Smart</h4>
    <p>asdf</p>
  </li>
</ul>