<% @page_title = "Feature Tour" %>

<%= render :partial => "nav" %>

<div id="main" class="with_nav">
  <p class="breadcrumbs">
    <%= link_to "Features", features_path, :title => "Feature Tour" %> /
    Savings Everywhere
  </p>
  <h3>Save the planet and your wallet.</h3>
  <p class="leader">
    It&#39;s easy and rewarding to do your part.<br/>
    Everybody wins!
  </p>
  <ul class="features">
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h4>Reliable</h4>
      <p>asdf</p>
    </li>
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h4>Secure</h4>
      <p>asdf</p>
    </li>
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h4>Flexible</h4>
      <p>asdf</p>
    </li>
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h4>Smart</h4>
      <p>asdf</p>
    </li>
  </ul>
</div>