<% @page_title = "Feature Tour" %>
<% @layout = "with_sidebar_left" %>

<% content_for :sidebar_left do %>
  <%= render :partial => "nav" %>
<% end %>

<div class="panel">
  <div class="content">
    <p class="leader">
      Carpool App is a service that aims to reduce the amount of cars on the road
      by connecting rush hour commuters.
    </p>
    <ul class="features">
      <li>
        <%= image_tag "asdf", :alt => "asdf" %>
        <h3>Reliable</h3>
        <p>asdf</p>
      </li>
      <li>
        <%= image_tag "asdf", :alt => "asdf" %>
        <h3>Secure</h3>
        <p>asdf</p>
      </li>
      <li>
        <%= image_tag "asdf", :alt => "asdf" %>
        <h3>Flexible</h3>
        <p>asdf</p>
      </li>
      <li>
        <%= image_tag "asdf", :alt => "asdf" %>
        <h3>Smart</h3>
        <p>asdf</p>
      </li>
    </ul>
  </div>
</div>