<% @page_title = "Feature Tour" %>

<%= render :partial => "nav" %>

<div id="main" class="with_nav">
  <p class="leader">
    Carpool App is a service that aims to reduce the amount of cars on the road
    by connecting rush hour commuters.
  </p>
  <ul class="features">
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h3>Reliable</h3>
      <p>asdf</p>
    </li>
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h3>Secure</h3>
      <p>asdf</p>
    </li>
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h3>Flexible</h3>
      <p>asdf</p>
    </li>
    <li>
      <%= image_tag "asdf", :alt => "asdf" %>
      <h3>Smart</h3>
      <p>asdf</p>
    </li>
  </ul>
</div>