<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @title + " &#171;" if @title %> <%= app_name %></title>
  <%= stylesheet_link_tag "reset", "compiled/layout.css", "compiled/screen.css", :cache => true %>
  <%= javascript_include_tag "jquery", "application", :cache => true %>
  <%= yield :head %>
</head>

<body id="<%= @controller.controller_name %>_controller" class="<%= @template.instance_variable_get(:@_first_render).name %>">

  <div class="page_width">

    <%= render :partial => "shared/masthead" %>

    <div id="content">
      <%= yield :right_of_title %>
      <% if @title %>
        <h2><%= @title %></h2>
      <% end %>
      <%- flash.each do |name, message| -%>
        <%= content_tag :p, message, :class => "flash #{name}" %>
      <%- end -%>
      <%= yield %>
    </div>

    <%= render :partial => "shared/footer" %>

  </div>

</body>
</html>