<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @page_title + " &#171;" if @page_title %> <%= app_name %></title>
  <%= stylesheet_link_tag "reset", "compiled/layout.css", "compiled/common.css", "compiled/forms.css", "compiled/jqModal", "compiled/screen.css", :cache => true %>
  <%= javascript_include_tag "jquery", "jqModal", "application", :cache => true %>
  <%= yield :head %>
</head>

<body id="<%= @controller.controller_name %>_controller" class="<%= @template.instance_variable_get(:@_first_render).name %>">

  <% if @content_for_modal_content %>
    <div class="modal_window">
      <div class="header">
        <%= link_to image_tag("icons/cross.png", :alt => "Close"), "#", :title => "Close", :class => "modal_close" %>
        <h3><%= yield :modal_title %></h3>
      </div>
      <div class="content">
        <%= yield :modal_content %>
      </div>
    </div>
  <% end %>

  <%= render :partial => "shared/masthead" %>

  <div id="content" class="clearfix <%= @layout %>">
    <div class="page_width">
      <div id="page_title">
        <% if @content_for_page_options %>
          <span id="page_options"><%= yield :page_options %></span>
        <% end %>
        <% if @page_title %>
          <h2><%= @page_title %></h2>
        <% end %>
        <% if @content_for_breadcrumbs %>
          <p class="breadcrumbs"><%= yield :breadcrumbs %></p>
        <% end %>
      </div>
      <% if @content_for_above_main %>
        <div id="above_main"><%= yield :above_main %></div>
      <% end %>
      <% if @content_for_sidebar_right %>
        <div id="sidebar_right" class="sidebar"><%= yield :sidebar_right %></div>
      <% end %>
      <% if @content_for_sidebar_left %>
        <div id="sidebar_left" class="sidebar"><%= yield :sidebar_left %></div>
      <% end %>
      <div id="main">
        <%- flash.each do |name, message| -%>
          <%= content_tag :p, message, :class => "flash #{name}" %>
        <%- end -%>
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render :partial => "shared/footer" %>

</body>
</html>